
.content-area.container.pt-4
  .area-section.text-center
    h1.mb-4.text-6xl Errors#internal_server_error
    img src="https://i.pinimg.com/originals/f7/5d/e6/f75de6a33bb3e791f5dddd9337d300bc.png" alt="500 Error"/

