.content-area.container.pt-4
  .area-section.text-center
    h1.mb-4.text-6xl OOPS!
    img src="https://png.pngtree.com/png-vector/20220520/ourmid/pngtree-404-icon-graphic-design-template-vector-isolated-png-image_4641202.png" alt="404 Not Found"/

