/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";

$color_1: #333;
$color_2: #007bff;
$color_3: white;
$color_4: #999;
$background-color_1: #f0f0f0;

.sidebar {
	width: 264px;
	height: 100vh;
	background-color: $background-color_1;
	padding-left: 20px;
	margin-top: 60px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	overflow-y: auto;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		margin-bottom: 10px;
		a {
			color: $color_1;
			text-decoration: none;
			&:hover {
				color: $color_2;
			}
		}
		i {
			&:hover {
				color: $color_2;
			}
		}
	}
}

.add-style {
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
	padding-right: 20px;
	h3 {
		padding-left: 16px;
	}
	a {
		text-decoration: none;
		color: $color_3;
	}
}

.button_add {
  padding: 8px;
}

.content-table {
	max-width: 100%;
	overflow-x: auto;
}

.table {
	table-layout: fixed;
	width: 100%;
	th {
		width: 200px;
	}
	td {
		width: 200px;
	}
}

.container-form {
	margin: 0px 200px;
}

.input-light-text {
	color: $color_4;
}

.style-form {
	padding-left: 200px;
	padding-top: 25px;
}

.style-form-back {
	a {
		padding-left: 200px;
		text-decoration: none;
		cursor: pointer;
	}
}
