/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";
@import "pagination_admin";
@import "admin_companies";
@import "admin_person";
@import "admin_tax_code";

$font-family_1: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
  "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("/app/assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
}

body {
  font-family: $font-family_1;
}

$color_1: #333;
$color_2: #007bff;
$color_3: white;
$color_4: #999;
$color_5: #dc3545;
$background-color_1: #f0f0f0;

abbr[title] {
  color: $color_5;
  cursor: help;
  text-decoration-skip-ink: none;
  text-decoration: none;
}

small {
  color: $color_5;
  text-transform: capitalize;
}

// CSS - SideBar
.sidebar {
  width: 264px;
  height: 100vh;
  background-color: $background-color_1;
  margin-top: 60px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .sidebar-admin {
    font-weight: 600;
    padding-left: 38px;
    transition: transform 0.2s;
    a {
      text-decoration: none;
      color: $color_1;
    }
  }
  .sidebar-admin:hover {
    cursor: pointer;
    color: #e70909;
    transform: scale(1.05);
    a {
      color: #e70909;
    }
  }
  .active {
    color: #e70909;
    a {
      color: #e70909;
    }
  }
}

.header-dashboard {
  background-color: #221717;
}

.back-home {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
// CSS - Company

.add-style {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-bottom: 10px;
  h3 {
    padding-left: 16px;
  }
  a {
    text-decoration: none;
    color: $color_3;
  }
}

.button_add {
  padding: 10px;
}

.content-table {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
  padding-left: 16px;
  padding-top: 30px;
}

.sum {
  margin-left: 20px;
}

.table {
  table-layout: fixed;
  width: 100%;
  th {
    width: 200px;
  }
  td {
    width: 200px;
  }
}

.container-form {
  margin: 0px 200px;
}

.input-light-text {
  color: $color_4;
}

.style-form {
  padding-left: 200px;
  padding-top: 25px;
  font-weight: 600;
}

.style-form-back {
  a {
    padding-left: 200px;
    text-decoration: none;
    cursor: pointer;
  }
}

// CSS - TaxCode

.taxcode-form {
  margin: 10px 300px;
}

.taxcode-title {
  padding-left: 300px;
  padding-top: 40px;
}

// CSS- BUSINESS AREA

.business-area-table {
  max-width: 1600px;
  margin: 10px auto;
  padding-left: 16px;
}

.style-date {
  margin-bottom: 0px;
}

.filter-select {
  width: 200px;
}

.body-content {
  margin-top: 90px;
}

.alert-success {
  width: 370px;
}

// Global
.sub-back-button {
  padding: 5px 30px;
}

.style-form-new {
  padding: 19px 30px 55px 30px;
}

.style-search {
  height: 40px;
  width: 420px;
}
