/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";



.sidebar {
  width: 264px;
  height: 100vh;
  background-color: #f0f0f0;
  padding-left: 20px;
  margin-top: 60px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar li a {
  color: #333;
  text-decoration: none;
}

.sidebar li a:hover {
  color: #007bff;
}

.sidebar li i:hover {
  color: #007bff;
}

.add-style{
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-right: 20px;
}

.add-style h3 {
  padding-left: 16px;
}

.add-style a{
  text-decoration: none;
  color: white;
}

.button_add{
  padding-right: 10px;
}

.content-table {
  max-width: 100%;
  overflow-x: auto; 
}

.table {
  table-layout: fixed; 
  width: 100%; 
}

.table th, .table td {
  width: 200px; 
}

.container-form{
  margin: 0px 200px;
}

.input-light-text {
  color: #999;
}

.style-form {
  padding-left: 200px; 
  padding-top: 25px;
}

.style-form-back a{
  padding-left: 200px; 
  text-decoration: none;
  cursor: pointer;
}