@import "bootstrap";
@import "font-awesome";
@import "homepage";
@import "company_type";
@import "pagination_mainpage";
@import "app_business_areas";
@import "_flash";
@import "_animations";

$font-family_1: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light",
  "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("/app/assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
}

$color_primary: #dc3545;

body {
  font-family: $font-family_1;
}

.breadcrumb {
  font-size: 14px;
  display: flex;
  gap: 10px;
  padding-top: 20px;
  padding-left: 12px;
  a {
    text-decoration: none;
    color: black;
  }
}

abbr[title] {
  color: $color_primary;
  cursor: help;
  text-decoration-skip-ink: none;
  text-decoration: none;
}

small {
  color: $color_primary;
  text-transform: capitalize;
}

.dropdown-item:active {
  background-color: $color_primary;
}
