<div class="container">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="header-logo">
                <a class="navbar-brand" href="/">
                    <img src="https://masothue.com/assets/images/175x42xlogo-masothue.png.pagespeed.ic.jF0RE_Y4qA.webp" width="175px" height="42" alt="logo_masothue">
                </a>
             </div>
            <div class="navbar-collapse p-5" id="navbarNav">
                <ul class="navbar-nav" style="font-weight: bold;">
                    <li class="nav-item ps-5">
                        <a class="nav-link" href="/">Trang chủ</a>
                    </li>
                    <li class="nav-item ps-5">
                     <a class="nav-link" href="/">Tra cứu thuế cá nhân</a>
                    </li>
                    <li class="nav-item ps-5">
                        <a class="nav-link" href="/">Ngành nghề</a>
                    </li>
                    <li class="nav-item ps-5">
                        <a class="nav-link" href="/">Liên hệ</a>
                    </li>
                </ul>
            </div>
            <div class="email-navbar">
                <span style="font-weight: 300;" >Email: info@masothue.com</span>
            </div>
        </nav>
    </div>
</div>