.container
  .row
    nav.navbar.navbar-expand-lg.navbar-light
      .header-logo
        a.navbar-brand[href="/"]
          img[src="https://masothue.com/assets/images/175x42xlogo-masothue.png.pagespeed.ic.jF0RE_Y4qA.webp" width="175px" height="42" alt="logo_masothue"]
      #navbarNav.navbar-collapse.p-5
        ul.navbar-nav[style="font-weight: bold;"]
          li.nav-item.ps-5
            a.nav-link[href="/"]
              | Trang chủ
          li.nav-item.ps-5
            a.nav-link[href="/"]
              | Tra cứu thuế cá nhân
          li.nav-item.ps-5
            a.nav-link[href="/"]
              | Ngành nghề
          li.nav-item.ps-5
            a.nav-link[href="/contacts"]
              | Liên hệ
      .email-navbar
        span[style="font-weight: 300;"]
          | Email: info@masothue.com