<nav class="navbar navbar-expand-lg bg-danger sticky-top pb-3 pt-3">
    <div class="container">
      <div class="row">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light", style="font-size: 20px;"role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Tra cứu mã số thuế
              </a>
              <ul class="dropdown-menu border-1">
                <li><a class="dropdown-item" href="#"><strong>Ngành nghề kinh doanh</strong></a></li>
                <li><a class="dropdown-item" href="#"><strong>Doanh nghiệp mới thành lập</strong></a></li>
                <li><a class="dropdown-item" href="#">Loại hình công ty</a></li>
                <li><a class="dropdown-item" href="#">Theo tỉnh thành phố</a></li>
                <li><a class="dropdown-item" href="#">Trạng thái công ty</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" style="padding-left: 117px" role="search">
            <input style="width: 600px;" class="form-control me-2" type="search" placeholder="Nhập mã số thuế, CMND, tên công ty" aria-label="Search">
            <button class="btn btn-dark" type="submit" style="font-size: 18px; padding: 10px;">Search</button>
        </form>
        </div>
      </div>
    </div>
</nav>